[submodule "src/lib/vendor/zend"]
	path = src/lib/vendor/zend
	url = git://github.com/wilmoore/zf2.git
[submodule "src/lib/vendor/symfony/src/Symfony/Component/ClassLoader"]
	path = src/lib/vendor/symfony/src/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
