<?php

require_once __DIR__.'/src/lib/vendor/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'm3'                             => __DIR__.'/src/lib',
    'Symfony'                        => __DIR__.'/src/lib/vendor/symfony/src',
    'Doctrine\\Common'               => __DIR__.'/src/lib/vendor/doctrine/common/lib',
    'Zend'                           => __DIR__.'/src/lib/vendor/zend/library',
));

$loader->register();
