<?php
/**
 * @package     ReactQueue
 * @license     http://www.opensource.org/licenses/mit-license.html
 * @copyright   Full license/copyright information can be found in the LICENSE file distributed with this source code.
 */

require_once __DIR__.'/src/lib/vendor/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;

$loader = new UniversalClassLoader();
$loader->registerNamespaces(array(
    'ReactQueueFixture' => __DIR__.'/src/test/unit/lib',
    'ReactQueue'        => __DIR__.'/src/lib',
    'Symfony'           => __DIR__.'/src/lib/vendor/symfony/src',
    'Zend'              => __DIR__.'/src/lib/vendor/zend/library',

));

$loader->register();
